
// Colors

$color-black:       #000000;

$color-gray-dark1:  #121212;
$color-gray-dark2:  #181818;

$color-gray-mid1:   #535353;

$color-gray-light1: #AAAAAA;
$color-gray-light2: #DDDDDD;

$color-white:       #FFFFFF;

$color-green:       #1ab854;


$color-border1:     #282828;


//

$footer-height:     90px;
$sidebar-width:     250px;
