@import '../../sass/base/variables.scss';

aside.sidebar {
  position: fixed;
  overflow: overlay;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - #{$footer-height});

  padding: 20px;

  color: $color-white;
  background-color: $color-black;

  h3 {
    margin-bottom: 5px;
  }

  li {
    display: block;
    margin-bottom: 5px;
    font-size: 0.95em;
    color: $color-gray-light1;

    &:hover {
      color: $color-white;
      cursor: pointer;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
