@import '../../sass/base/variables.scss';

footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;

  padding: 15px;

  border-top: 1px solid $color-border1;
  color: white;
  background-color: $color-gray-dark2;
}
