
.selection-preview {
  position: relative;
  --preview-height: 40px;

  div {
    position: absolute;
    z-index: 2;
    width: calc(100% - 20px);
    height: var(--preview-height);

    h5 {
      line-height: var(--preview-height);
      font-weight: 700;
      text-shadow: 0 0 5px black;
    }
  }

  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: var(--preview-height);

    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 2px;
    width: var(--preview-height);
    height: var(--preview-height);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.4;
    list-style: none;
  }

}
